<div
    *ngIf="use === 'memory'"
    [id]="numberId"
    class="card">

    <div [ngClass]="{
        'card-bg--hidden': showOverlay
        }">
    </div>
    <figure class="card-img--wrapper">
        <img
            [name]="uuid"
            [src]="image"
            [alt]="title"
            class="card-img--wrapper-tagimage">
    </figure>
</div>

<div
    *ngIf="use === 'form'"
    class="form-wrapper">
        <app-form [typeForm]="typeForm"></app-form>
</div>

<div
    *ngIf="use === 'info'"
    [ngClass]="{
        'info': dataMessage.typeNotification === 'info'
    }"
    class="message">
        <h4>{{ dataMessage.title }}</h4>
        <p>{{ dataMessage.message }}</p>
</div>