.card {
    @apply w-full h-full rounded-md shadow-black shadow-md relative;
    scale: 1;
    transition: all 0.3s linear;

    &-bg {
        &--hidden {
            @apply w-full h-full absolute bg-red-500;

            &:focus {
                display:none;
            }
        }
    }
    
    &-img {
        &--wrapper {
            @apply w-full h-full m-0;

            &-tagimage {
                @apply w-full h-full m-0;
            }
        }
    }

    &:hover {
        @apply cursor-pointer;
        scale: 1.2;
    }
}




.form-wrapper {
    @apply absolute flex justify-center items-center rounded-sm bg-slate-400 shadow-md shadow-black;
    width: 300px;
    height: 300px;
    right: 2.5%;
    top: 8%;
    z-index: 5;
}

.message {
    @apply absolute justify-center items-center rounded-sm shadow-sm px-4 py-2;
    width: 150px;
    right: 50%;
    bottom: 50%;
}

.info {
    @apply bg-cyan-200 text-black shadow-cyan-400;
}
